.btn {
  background-color: #1e703e;
  border-radius: 40px;
  display: flex;
  align-items: center;
}

.travelmanagementservicescontent .btn a,
i {
  color: white;
}
.travelmanagementservicescontent .btn i {
  color: white !important;
  font-size: 14px;
}
.databtnsub .btn a,
i {
  color: white;
}
.databtnsub .btn i {
  color: white !important;
}

.mainsection {
  background: #fafafa;
  border-radius: 20px;
}

.mainsection .travelmanagementservicescontent img {
  border-radius: 10px;
}

.colimagelist li {
  margin-top: 4px;
}

.colimgtextlist {
  background-color: #1e703e;
  padding: 25px 30px;
  border-radius: 12px;
}
.colimgtextlist > h5 {
  color: rgb(255, 255, 255);
}
.colimgtextlist ol li {
  color: white;
}

.colimgtextlist {
  position: relative;
}

.colimgtextlist::before {
  content: "";
  position: absolute;
  top: -8px;
  left: 50%; /* adjust horizontal position */
  width: 0;
  transform: translateX(-50%);
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #1e703e;
}

.dotted {
  position: relative;
}
.dotted::after {
  content: "";
  position: absolute;
  top: 15px;
  left: 50%; /* adjust horizontal position */
  width: 100%;
  transform: translateX(-50%);
  height: 2px;
  border: 2px dotted #1e703e;
}

.firstcol {
  float: left;
  width: 50%;
}

.secondcol {
  float: left;
  width: 50%;
  padding-left: 120px;
  text-align: left;
  margin-top: 60px;
}

.firstcol img {
  width: 100%;
  display: block;
  border-radius: 10px;
}

.clearfix {
  clear: both;
}

.secondcol ol {
  list-style-position: inside;
  padding-left: 0;
  margin: 0;
}

.secondcol .btn {
  margin-top: 55px !important;
  border-radius: 40px;
}
.secondcol .btn i {
  font-size: 14px;
}

@media only screen and (max-width: 600px) {
  .firstcol,
  .secondcol {
    float: none;
    width: 100%;
    padding: 0;
    margin: 20px 0px;
  }

  .travelmanagementservicescontent {
    margin-top: 15px;
  }

  .dotted::after
  {
    width: 0%;
    height: 0%;
   border: none;
  }

  .colimgtextlist {
    margin-top: 15px;
  }

  .colimgtextlist::before {
    border: none;
  }
}
