
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Jost:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

h5 {
  font-family: "Poppins", sans-serif;
}

p{
  text-align: justify!important;
}

.colimgtext h5 {
  font-family: "Poppins", sans-serif;
}

.readbtn {
  font-family: "Poppins", sans-serif !important;
}
.dotuldata {
  padding-left: 20px !important;
}

.dotuldata li {
  list-style: none !important;
}
i {
  color: black !important;
}

.whatwedoheading {
  position: relative;
  font-size: 43px;
}

.whatwedoheading::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background-color: black;
  width: 10%;
  height: 1.2px;
  bottom: 5px;
}

header {
  box-shadow: 0px 8px 18px -1px #e2e2e2 !important;
}
