@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aclonica&family=Jost:ital,wght@0,100..900;1,100..900&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Jost', sans-serif;
}

h5 {
  font-family: 'Aclonica', sans-serif;
}

.colimgtext h5{
    font-family: 'Aclonica', sans-serif;
}

.readbtn{
    font-family: 'Jost', sans-serif!important;
}
.dotuldata{
    padding-left: 20px!important;
}

.dotuldata li{
    list-style: none!important;
}
i{
    color: black!important;
}

.whatwedoheading {
  position: relative;
  font-size: 43px;
}

.whatwedoheading::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background-color: black;
  width: 10%;
  height: 1.2px;
  bottom: 5px;
}
