.footer {
  background: url("../../assets/images/Cable Car at Sentosa Island.jpeg") center
    no-repeat;
  background-size: cover;
  position: relative;
}

.footer .detailsoffooter {
  text-align: left;
  color: white;
}

.detailsoffooter h5 {
  font-size: 43px;
}

.overlayfooter {
  position: relative;
}

.overlayfooter::before {
  content: "";
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;
  opacity: 0.5;
  background: #2d0101f2; /* semi-transparent overlay */
}

.enquiedetails {
  align-items: center !important;
  display: flex !important;
  justify-content: right !important;
}

.enquiedetails a {
  color: black;
  background-color: white;
  border-radius: 6px;
  padding: 12px 20px;
  text-decoration: none;
  transition: 0.2s all;
}

.enquiedetails a:hover {
  background-color: #1e703e;
  transition: 0.2s all;
  color: white;
}

.belowfooter {
  background-color: #ececec;
}

.socialicons i {
  font-size: 18px;
  margin-right: 20px;
}
.socialicons {
  padding-top: 28%;
}
.footerlogo {
  padding-top: 12%;
}

.dotuldata {
  text-align: left;
}
.dotuldata li {
  margin-top: 12px;
  font-size: 17px;
}
.dotuldata li a {
  font-weight: 400;
  color: white;
}

footer {
  position: relative;
}

.attractiondetails {
  background-color: #1e703e;
  color: white;
  padding: 146px 20px;
  transform: translate(93px, -37px);
  bottom: -16.2cm;
  right: 13%;
  z-index: 999;
  position: absolute;
  border: 2px solid white;
}

.belowfootersubslinks {
  padding-left: 38px;
}

.belowfootersubs p {
  font-weight: 600;
}
.belowfootersubs .emailf p {
  margin: 0;
}
.belowfootersubs .emaill p {
  margin: 0;
}
.belowfootersubs .emailf a {
  color: black;
}
.belowfootersubs .emaill a {
  color: black;
}

.attractiondetailssub {
  border: 2px solid white;
}

.mailid-detail {
  margin-top: 0px !important;
}

.custom-para {
  font-size: 12px;
}

@media only screen and (max-width: 600px) {
  .attractiondetails {
    background-color: #1e703e;
    color: white;
    padding: 146px 20px;
    transform: translate(93px, -37px);
    bottom: -16.2cm;
    right: 23%;
    z-index: 999;
    position: absolute;
  }

  .footerlogo {
    padding-top: 0%;
  }

  .socialicons {
    padding-top: 0%;
  }

  .attractiondetails {
    display: none !important;
  }
  .footerlogo,
  .socialicons {
    padding-top: 0% !important;
    text-align: center !important;
  }

  .belowfootersubs {
    text-align: center !important;
  }

  .paradetails {
    padding: 0 !important;
  }

  .whatsappf {
    justify-content: center;
  }

  .whatsappl {
    justify-content: center;
  }
  .emailf {
    justify-content: center;
  }

  .emaill {
    justify-content: center;
  }

  .mailid-detail {
    margin-top: 0px !important;
  }
}
