button.btn {
  background-color: #1e703e;
  border-radius: 40px;
  display: flex;
  align-items: center;
  box-shadow: 0px 3px 10px -1px #11702e !important;
  transition: 0.3s all!important;
}

button.btn a{
    text-decoration: none!important;
}

.btn:hover {
  border: 0px solid !important;
  outline: none !important;
  transition: 0.3s all!important;
}

.mainsectionfleets {
  background: #fafafa;
  border-radius: 20px;

}

.fleets img {
  width: 100%;
}

.carsdetails {
  margin-top: 56px;
}

.fleets a {
  color: white;
}
.fleets .btn i {
  color: white !important;
}

.firstcolfleets {
  float: left;
  width: 50%;
}

.secondcolfleets {
  float: left;
  width: 50%;
  padding-left: 120px;
  text-align: left;
  margin-top: 20px;
}

.firstcolfleets img {
  width: 100%;
  display: block;
  border-radius: 10px;
}


.fleetslist li {
  margin-bottom: 10px;
  font-size: 15px;
  font-style: italic;
  font-weight: 500;
}

.fleetslist li span {
  font-weight: bolder;
  font-size: 18px;
  color: #1E703E;
}

ul li::marker {
  color: #1E703E; /* change to any color */
}

.clearfix {
  clear: both;
}

.secondcolfleets ol {
  list-style-position: inside;
  padding-left: 0;
  margin: 0;
}

.secondcolfleets .btn i {
  font-size: 14px;
}

@media only screen and (max-width: 600px) {

  .firstcolfleets, .secondcolfleets {
    float: none;
    width: 100%;
    padding: 0;
    margin: 20px 0px;
  }



}